<ion-header>
    <ion-toolbar>
        <ion-title>Notifications</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-card>
        <ion-item>
            <ion-icon name="move" slot="start"></ion-icon>
            <ion-label>Hive disturbed</ion-label>
            <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>

        <ion-card-content>
            This is content, without any paragraph or header tags,
            within an ion-card-content element.
        </ion-card-content>
    </ion-card>
</ion-content>