################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/self-serve/.vs
/self-serve/Insight.SaveTheBees.SelfServe.WebApi/bin
/self-serve/Insight.SaveTheBees.SelfServe.WebApi/obj
