// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.validation-errors {
    font-size: 0.9em;
} /*comment*/


.header {
    &-warning {
        border-left: 4px #f04141 solid;
        padding-left: 11px;
    }

    &-neutral {
        border-left: 4px #0cd1e8 solid;
        padding-left: 11px;
    }
}