<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{name}}</ion-title>
    <ion-buttons slot="end" icon-only outline (click)="presentActionSheet()">
      <ion-icon name="more"></ion-icon> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <p>2 Brood boxes, 2 top boxes.</p>
  <h3>Details</h3>
  <ion-list>
    <ion-item>
      <ion-label>
        <strong>Location: </strong>
        <span>Pinjarrah</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <strong>Queen added: </strong>
        <span>March 2018</span>
      </ion-label>
    </ion-item>
  </ion-list>
  <h3>Data</h3>
  <ion-list>
    <ion-item>
      <ion-label>
        <strong>Internal temperature: </strong>
        <span>31.4 deg</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <strong>External temperature: </strong>
        <span>21.2 deg</span>
      </ion-label>
    </ion-item>
  </ion-list>
  <h3>Hive event log</h3>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Hive disturbed</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>The content for this card</p>
      <ion-button>Add note</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
