<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{name}}</ion-title>
    <ion-buttons slot="end" icon-only outline (click)="presentActionSheet()">
      <ion-icon name="more"></ion-icon> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <p>2 Brood boxes, 2 top boxes.</p>
  <h3>Details</h3>
  <ion-list>
    <ion-item>
      <ion-label>
        <strong>Location: </strong>
        <span>Pinjarrah</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <strong>Queen added: </strong>
        <span>March 2018</span>
      </ion-label>
    </ion-item>
  </ion-list>
  <h3>Data</h3>
  <ion-list>
    <ion-item>
      <ion-label>
        <strong>Internal temperature: </strong>
        <span>31.4 deg</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <strong>External temperature: </strong>
        <span>21.2 deg</span>
      </ion-label>
    </ion-item>
  </ion-list>
  <h3>Event log</h3>
  <ion-card>
    <!--<ion-card-header>
      <ion-card-subtitle>Hive disturbed</ion-card-subtitle>
    </ion-card-header>-->
    <ion-card-content>
      <h3>Hive disturbed</h3>
      <p><small>20/10/2018 1:30pm</small></p>
      <ion-button outline size="small">Add note</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <!--<ion-card-header>
      <ion-card-subtitle>Temperature warning</ion-card-subtitle>
    </ion-card-header>-->
    <ion-card-content>
      <h3>Temperature warning</h3>
      <p>The internal temperature dropped to 27 deg</p>
      <small>06/07/2018 2:35am</small>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <!--<ion-card-header>
      <ion-card-title>Inpection</ion-card-subtitle>
    </ion-card-header>-->
    <ion-card-content>
      <h3>Inspection</h3>
      <p>Good brood, queen spotted, some honey.</p>
      <p><small>02/04/2018 11:38am</small></p>
      <ion-button outline size="small">View details</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
