<ion-content>
    <ion-tabs>
        <ion-tab label="Apiary" icon="albums" href="/home/(clusters:clusters)">
            <ion-router-outlet name="clusters"></ion-router-outlet>
        </ion-tab>
        <ion-tab label="Hives" icon="cube" href="/home/(hives:hives)">
            <ion-router-outlet name="hives"></ion-router-outlet>
        </ion-tab>
        <ion-tab label="Notifications" icon="alert" href="/home/(notifications:notifications)">
            <ion-router-outlet name="notifications"></ion-router-outlet>
        </ion-tab>
        <ion-tab label="Settings" icon="settings" href="/home/(settings:settings)">
            <ion-router-outlet name="settings"></ion-router-outlet>
        </ion-tab>
    </ion-tabs>
</ion-content>